*{
  margin:0;
  padding: 0;
}

body{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  background: black;
  color:rgba(255,255,255,0.6)
}

.absolute{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:0;
  z-index: 2;
  width:300px;
  margin-top:50%;
  box-shadow: 0 0 5px rgba(255,255,255,0.5);
  display: block;
}


.storaBilder {

  position: absolute;
  width:100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
}

#storBild {

}

#storBild img {
  width: 400px;

}
#content2 li{
  padding:0;
}

#clothes {
  margin-top:20px;
}

#content2 {
  display: none;
}

#content3{
  display: none;
}

.current {
  color:rgb(89, 39, 54)

}
.contentBlock{
  height: 300px;
  display: flex;
  justify-content: center;
}

.contentNone {
  display: none;
}

a{

  transition-property: color, transform;
  transition-duration: 0.2s;
  }
 a:hover {
   color:rgba(89, 39, 54,0.7);
   transform:rotate(4deg);
}

header{
  background: url(Bilder/Nyumbaniskate/elefant2.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100%;
  width:100%;
  border-top:10px solid black;
  transition-property: opacity;
  transition-duration: 0.5s;
}


header > div {
  margin-top:30px;
}

header img {
  display: block;
  padding-bottom: 20px;
  padding-top: 20px;
  width:50%;
  margin:auto;
  opacity: 0.8;
  position: relative;
  z-index: 1;
  transform: scale(0.5) translateY(-50px);
  opacity: 0.8;
}

header img:hover{
  opacity: 0.9;

}

#content3 img{
  width:100px;;
  border-radius: 100%;
  box-shadow: 0 0px 10px;
  margin:0;
  padding: 0;
  margin:0 auto;
  display: block;
}



#infoDavid > div img {
  width:15px;
  height: 15px;
  opacity: 0.7;
  display: inline-block;
  border-radius: 0;
}

#infoJonte > div img {
  border-radius: 0;
  opacity: 0.7;
  width:15px;
  height: 15px;
  display: inline-block;
}


#content1{
  flex-direction: column;
  margin-top: 0;
}

#content3{}

#content3 > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info{
  margin: 10px;
  display: flex;
  justify-content: center;

}

.davidOJonte {
  margin:10px;
}

.info h1{
  margin-top: 0px;
  margin-bottom: 10px;
}
#content2{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#content2 ul{
    display: block;
    height: 270px;
    overflow: scroll;
    justify-content: start;
    flex-direction:column;
}

#content li {

}
#content2 img {
  display: block;
  margin:0 auto;
  width:200px;;
}

/* Stor skärm */

/* #content2 ul{
    display: flex;
    background: red;
    width:900px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction:row;
} */


section {
  font-family: arial;
  position: relative;

}

section nav{
  display: flex;
  background: black;
  padding: 5px;
  box-shadow: 0px 0px 20px black;
  justify-content: center;
}
section ul, section li, section a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;

}

section li{
  padding: 5px;
}

a {
  text-decoration: none;
  color:rgba(255,255,255,0.4);
  text-align: center;

}



main  {
  margin:0;
  height: 450px;
  width:100%;
  background: url(Bilder/Nyumbaniskate/flicka3.png);
  background-repeat: no-repeat;
  background-position:bottom;
  background-size: 120%;
display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 0.6em;
}


main > div{
  background: rgba(0,0,0,0.4);
  border-bottom:2px solid rgba(255,255,255,0.4);
  width:90%;
  margin:auto;
  padding:10px;
  font-size: 0.9em;
  margin:0;
  margin-top:20px;
}

main div h3 {

  padding:5px;
  margin-bottom: 5px
  border-bottom:rgba(89, 39, 54,0.7) solid 2px;


}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  transition-property: height;
  transition-duration: 0.5s;
  height: 0px;
  background: rgba(255,255,255,0.3);
  box-shadow: 5px 0px 20px black;
  display: flex;
  flex-direction: row;
  justify-content: start;

}
#footer a{
  width:60px;;
  display: flex;
  padding:0;

}

#footer a:first-child{
  margin-left:20px;

}

#footer h3{
  align-self: center;
  color:rgba(255,255,255,0.5);
}

#instagram{
  width:50px;
  height:0px;
  transition-property: height, transform;
  transition-duration: 0.5s, 0.5s;
  margin:0
}

#facebook{
  width:50px;
  height:0px;
  transition-property: height, transform;
  transition-duration: 0.5s, 0.5s;
  margin:0
;}




/* BIG SCREEEN */

@media (min-width:500px){

  main  {
    margin:0;
    height: 550px;
    width:100%;
    background: url(Bilder/Nyumbaniskate/flicka.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: 120%;
  display: flex;
    flex-direction: column;
    align-items: center;
font-size: 0.7em;
  }




}

@media (min-width:550px){

  main  {
    margin:0;
    height: 600px;
    width:100%;
    background: url(Bilder/Nyumbaniskate/flicka.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: 120%;
  display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;


  }

  main > div{
    background: rgba(0,0,0,0);
    border-bottom:2px solid rgba(255,255,255,0);
  }





}


@media (min-width:600px){


  main  {
    margin:0;
    padding:0;
    height: 700px;
    width:100%;
    background: url(Bilder/Nyumbaniskate/flicka.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: 120%;
  display: flex;
    flex-direction: column;
    align-items: center;

  }

  #content1 div {
    padding:50px;
  }

  #content1{
    flex-direction: row;
    padding:10px;
    margin-top: 0;
  }

#content3 img{
  width: 150px;
}

#content3{
  height: 400px;
}

#infoDavid > div img {
  width:30px;
  height: 30px;

}

#infoJonte > div img {

  width:30px;
  height: 30px;

}

}





@media (min-width:700px){

  #content2 ul{
      display: flex;
      overflow: visible;
      width:900px;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction:row;
  }

  #content2 img {
    margin:5px;
    box-shadow: 0 0 5px rgba(255,255,255,0.6);
    transition-property: transform;
    transition-duration: 0.2s;
  }

  #content2 img:hover {
    transform:rotate(5deg) scale(1.1);
  }

  #content3 > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-direction: row;
    margin:10px;
  }

  .info{
    flex-direction: column;
  }


  main > div {
    display: flex;
  }

  header{
    border-bottom: 10px solid black;
  }

  section nav{

  position: fixed;
  z-index: 100;
  }

  main > div {
    position: relative;
    top:50px;
  }

  main  {
    margin:0;
    height: 800px;
    width:100%;
    background: url(Bilder/Nyumbaniskate/flicka.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: 100%;
  display: flex;
    flex-direction: column;
    align-items: center;

  }
  main > div{

  }


}


@media (min-width:600px){


  header img {
    padding-bottom: 50px;
    padding-top: 50px;
    width:30%;

  }


  section nav{
    justify-content: center;
  }


  section ul, section li{

    flex-direction: column;


  }


  main  {


    flex-direction: row;
    align-items: start;
    justify-content: center;
  }


  main div{
    width:90%;
    margin:auto;
    font-size: 1em;
    margin:0;
    margin-top:20px;
  }

  main div h3 {

    padding:5px;
  }



}
